.search-group {
    display: flex;
}
.dropdown {
    width: 20%;
    padding-right: 0px !important;
}
.label {
    padding-right: 15px;
    width: 25%;
}
.input-form {
    display: flex;
}
.button-search {
    width: 100% !important;
    display: flex; 
    align-items: flex-end;
}
.button-btn {
    width: 120px !important;
}